<!DOCTYPE html>
<html>
<head>
    <title>List Page</title>
</head>
<body>
    <h1>List Page</h1>
    <a href="/Insert">INSERT DATA</a>
    <hr />
    <table width="100%" border="1">
        <tr>
            <th>DELETE</th>
            <th>EDIT</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        <% for(var temp in data) { %>
        <tr>
            <td><a href="/Delete/<%= data[temp].name %>">DELETE</a></td>
            <td><a href="/Edit/<%= data[temp].name %>">EDIT</a></td>
            <td><%= data[temp].name %></td>
            <td><%= data[temp].score %></td>
        </tr>
        <% } %>
    </table>
</body>
</html>

